
{% extends "network/layout.html" %}
{% load static %}

{% block js %}

<script src="{% static 'network/follow.js' %}"></script>

{% endblock %}

{% block body %}

<div id="post-form">
    <form id="post-post">
        <div class="form-group">
            <textarea name="content" id="content" cols="100" rows="5" placeholder="What are you thinking?"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-primary">
        </div>
    </form>
</div>


<div id="following-posts">

</div>
<div id="following-posts2"></div>
<div id="page-view"></div>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for page in pages %}
      <li class="page-item"><a class="page-link" id="pagination" data-page ="{{ page }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
  </nav>


{% endblock %}