{% extends "network/layout.html" %}

{% block body %}
    <div id="post-form">
        <form id="post-post">
            <div class="form-group">
                <textarea name="content" id="content" cols="100" rows="5" placeholder="What are you thinking?"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div id="post-detail">

    </div>

    <div id="user-view">

    </div>
    <div id="user-posts-view">
        <br>
        <h4>All Posts</h4>
        <br>
    </div>
  
    <div id="posts-view" class="card">
        
    
        
        

    </div>
   
   
{% endblock %}